@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400&display=swap');
*{
   padding: 0%;
   margin: 0%;
}
body{
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    background-attachment: fixed;

}
header{
    padding-top: 20px;
    padding-bottom: 35px;
    background-color: black;
    margin: auto;
    color: white;
    text-align: center;
    width: 556px;
    font-family: 'Lilita One', sans-serif;
    font-weight: normal;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: white;
    color: black;
    text-decoration: underline;
    transition-duration: 1s;
    
}
main{
    font-family: 'Playpen Sans';
    font-weight: 400;
    background-color: white;
    padding: 10px;
    width: 534px;
    margin: auto;
}
aside{
    background-image: url(imagens/background001.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:right center;
    padding: 100px;
    position: relative;
    height: 50vh;
    
   
}
aside > div > p{
    position: absolute;
}
div > p{
    background-color: rgba(240, 248, 255, 0.178);
    position: absolute;
    height: 200px;
    width: 300px;
    left: 10px;
     
}
article > p{
    padding: 10px;
}
