@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
   padding: 0%;
   margin: 0%;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 42px;
}
header > p{
    font-size: 19px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline;
}
h1{
    font-family: 'Lilita One', sans-serif;
    font-size: 10vw;
}
p{
    font-family: 'Sriracha', sans-serif;
    font-size: 5vw;
    padding: 20px;
}
aside{
    background-image: url(imagens/background001.jpg);
    background-color: aliceblue;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 1500px;
    width: 100vw;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.767);
}
aside.img{
    background-image: url(imagens/background002.jpg);
    background-color: aliceblue;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 1500px;
    width: 100vw;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.767);
}
aside.img > p{
    color: white;
    background-color: rgba(0, 0, 0, 0.329);
    width: 50vw;
}
div{
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
    width: 50vw;
    
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 2em;
    text-align: center;
}
footer > a{
    color: white;
    text-decoration: none;
}
footer >a:hover{
    text-decoration: underline;
    color: black;
    background-color: white;
    transition-duration: 1s;
}
