@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    font-size: 14px;
}
table{
    border-collapse: collapse;
}
.sl{
    font-size:26px;
    border: 1px solid black;
}
.sr{
    font-size: 26px;
    border: 1px solid black;
    text-wrap: pretty;
}
